* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
.header{
    min-height:100vh;
    width:100%;
    background-image: linear-gradient(rgba(5, 27, 228, 0.845),rgba(104, 88, 150, 0.068),rgba(4, 25, 101, 0.845)),url("image1.png");
    background-position: center ;
    background-size: cover;
    position: relative;

}
nav{
    display:flex;
    padding:2% 6%;
    justify-content:space-between;
    align-items:center;
}
.logo {
    width: 100px; 
    height: auto; 
    margin: 10px;    
}
.logo-container {
    position:absolute;
    top:10px;
    left:10px;
    display: inline-block; 
}

.nav-links ul {
    list-style: none;
    margin:0;
    padding:0;
}
.nav-links ul li {
    display: inline; 
    margin-right: 50px; 
}
.nav-links ul li a{
    text-decoration: none;
    color: white;
    font-size:16px;
}
.nav-links ul li a:hover{
    color:rgb(187, 47, 133);
}
hr {
    border: none; 
    height: 1px; 
    background-color:rgb(92, 155, 194)
}
.nav-links ul li{
    list-style:none;
    display:inline-block;
    padding:8px 12px;
    position:relative;
}
.nav-links ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background:rgb(169, 37, 59);
    display:block;
    margin:auto;
    transition:0.5s;
}
.nav-links ul li:hover::after{
    width:100%;
}
.text-box{
    width:90%;
    position:absolute;
    color:#fff;
    bottom:50px;
    right:0;
    padding:50px;
    text-align:right;
}
.text-box h1{
    font-size:25px;           
}
.hero-btn{
    display:inline-block;
    text-decoration: none;
    color:#fff;
    border:1px solid #fff;
    padding:12px 34px;
    font-size:13px;
    background:transparent;
    position:relative;   
    cursor:pointer;
}
.hero-btn:hover{
    font-size:15px;
    border:1px;
    background:#e7155b;
    transition:1s;
}
nav.fa{
    display:none;
}

.close-icon {
    display: none;
}

.menu-icon {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 20px;
    width:20px;
    height:20px;
    cursor: pointer;
}

/* Adjustments for mobile view */
@media (max-width: 700px) {
    .text-box h1 {
        font-size: 15px;
    }
    .nav-links ul {
        padding-top: 40px; 
    }
    .nav-links {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px; 
        text-align: left;
        z-index: 2;
    }
    .close-icon {
        display: block; 
        position: absolute;
        top: 10px;
        left: 10px;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }
    .menu-icon {
        display: block; 
    }
}

/*-----Course-----*/

.course{
    width:80%;
    margin:auto;
    text-align:center;
    padding-top:100px;
}

h1{
    font-size:36px;
    font-weight:600;
}
h4{
    font-size:14px;
    font-weight:300;
    color:#f6f3f7;
}
h2{
    font-size:large;
    font-weight:600;
    color:rgb(30, 31, 39);
}
p{
    color:#f6f3f7;
    font-size:14px;
    font-weight:300;
    line-height:22px;
    padding:10px;
}
.row{
    margin-top:5%;
    display:flex;
    justify-content:space-between;
}
.course-col{
    flex-basis:31%;
    background:#9d4fc1;
    border-radius:10px;
    margin-bottom:5%;
    padding:20px 12px;
    box-sizing:border-box
}
.course-col:hover{
    box-shadow:0 0 20px 0px rgba(3, 3, 243, 0.968);
}
.hero-ug:hover{
    font-size:18px;
    border:1px;
    background:#f00e69;
    transition:1s;
    color:#630feb;
}
.hero-pg:hover{
    font-size:18px;
    border:1px;
    background:#d8185f;
    transition:1s;
    color:#630feb;
}
.hero-mba:hover{
    font-size:18px;
    border:1px;
    background:#e9067b;
    transition:1s;
    color:#630feb;
}

/*-------campus------*/
.campus{
    width:80%;
    margin:auto;
    text-align:center;
    padding-top: 50px;
}
p{
    color:black;
    font-size:18px;
}
.hero-vm:hover{
    font-size:18px;
    border:1px;
    background:#0896e8;
    transition:1s;
    color:#180510;
}

/*--gallery--*/
.Gall{
    width:80%;
    margin:auto;
    text-align:center;
    padding-top:50px;
}
.Gall{
    min-height:100vh;
    width:100%;
    background-image: linear-gradient(rgba(131, 8, 239, 0.845),rgba(94, 59, 174, 0.068),rgba(26, 33, 100, 0.845)),url("image2.jpg");
    background-position: center ;
    background-size: cover;
    position: relative;
    color:#f6f3f7; 
}
.para{
    color:rgb(248, 243, 243);
    font-size:50px;
}


/*--footer--*/
h3{
    font-size:24px;
    font-weight:300;
    color:#120101;
}
.footer {
    background: #f9f7f7;
    text-align: center;
    padding: 20px 0;
}

.footer h3 {
    margin-bottom: 10px;
}

.footer p {
    margin: 10px 0;
    line-height: 1.6;
}

.footer .icons {
    margin-top: 30px;
}

.footer .icons i {
    font-size: 24px;
    margin: 10px;
    color: rgba(5, 5, 5, 0.911);
    transition: color 0.3s;
}

.footer .icons i:hover {
    color: #f39c12;
}
#para{
    text-align: center;
    animation-name: slideIN;
    animation-duration: 3s;
    opacity: 1;
}
@keyframes slideIN{
    40%{opacity: 0.5}
    from{transform: translateX(25%)}
    70%{opacity: 0.7}
    

}